.card-component {
  display: block;
  height: 100%;
}

.card-component .card {
  background-color: var(--lumo-base-color-50pct);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.card-component .card-row {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  border-color: var(--lumo-base-color-10pct);
  border-width: 1px;
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.card-component img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-m);
  margin-right: calc(var(--lumo-space-s) * 1.5);
  width: var(--lumo-size-m);
}

.card-component .header {
  align-items: baseline;
}

.card-component .name {
  font-size: var(--lumo-font-size-s);
  font-weight: bold;
  margin-right: var(--lumo-space-s);
}

.card-component .date {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-xs);
}

.card-component .description {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-s);
  margin-bottom: var(--lumo-space-s);
  white-space: normal;
}

.card-component .actions {
  align-items: center;
}

.card-component .icon {
  color: var(--lumo-tertiary-text-color);
  height: calc(var(--lumo-icon-size-s) * 0.8);
  margin-right: var(--lumo-space-s);
  width: calc(var(--lumo-icon-size-s) * 0.8);
}
