.info-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.info-header{
    display: inline;
    font-size: var(--lumo-font-size-m);
    font-weight: bold;
    box-sizing: border-box;
}

.info-description{
    display: inline;
    padding-right: var(--lumo-space-l);
    font-size: var(--lumo-font-size-m);
    box-sizing: border-box;
}