.file-selector{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.toolbar{
    margin: 0;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid;
    border-color: var(--lumo-contrast-10pct);
}

.toolbar .toolbar-button {
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-l);
}